{% extends 'partials/_master.twig' %}

{% block main %}
    
       
        <section class="inner-intro bg-img8 overlay-dark parallax parallax-background2">
            <div class=container>
                <div class="row title Down">
                    <h1 class="h4 white">Centre d'esthetique</h1>
                    <a href="/"> <img src="../theme/base-2016/images/logo_sublima-2ff19fc2.png" alt="logo sublima" class=logo-banner-bis> </a>
                    <div class=row>
                        <p class="lead col-md-6 col-md-offset-3 white">Maquillage Longue Durée - Dermographie réparatrice</p>
                        <p class="lead col-md-6 col-md-offset-3 white">Tatouages - Extension de cils</p>
                    </div>
                </div>
            </div>
        </section>
        <div class=clearfix></div>
        <section>
            <div class=container>
                <div class="row ptb-80">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                        <h3 class=color> Améliorer votre quotidien par l'expertise, le conseil et la confiance</h3> </div>
                </div>
                <div class="col-md-12 pb-80 Up">
                    <div>
                        <div>
                            <div id=permanent>
                                <div class="row ptb-60">
                                    <div class="col-md-6 col-sm-6"> <img src="../theme/base-2016/images/permanent-esthetique-3ffa4219.jpg" class=img-responsive alt="Maquillage permanent chez Sublima à Lille, Nord-Pas-de-Calais">
                                        <div class="spacer-15 visible-xs"></div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h3 class=color>Maquillage permanent</h3>
                                        <p>Le maquillage permanent séduit de plus en plus de femmes. Cette technique vise à corriger, embellir et rajeunir le visage. Révolutionnaire, elle libère des contraintes quotidiennes du maquillage par un gain de temps non négligeable. Les femmes sont ainsi belles sans efforts dès le réveil sans problématique de maquillage défraîchi durant la journée. </p>
                                        <p>Ce maquillage longue durée que nous proposons s’estompe avec le temps, et heureusement ! Nos goûts, notre visage, notre style changent : ainsi, les couleurs et la forme peuvent être modifiées. Toutefois, si le maquillage n'est pas entretenu (tous les 2 ans environ), il durera environ 5 ans.</p>
                                        <p>Nous vous proposons un travail personnalisé, selon votre âge, votre besoin et votre style. Notre technique du maquillage permanent demande beaucoup de précision grâce à l’expérience, la patience et l'écoute.</p>
                                        <p>Chez Sublima, cette mise en beauté est utilisée pour redessiner les sourcils, les yeux, les lèvres ou encore les grains de beauté.</p>
                                        <p>Force de son expérience, Odile vous conseillera avec toutes les techniques innovantes qu'elle maîtrise. Possibilité d'un RDV préalable.</p>
                                    </div>
                                </div>
                                <div class=text-center>
                                    <h5>Plus d'informations</h5> </div>
                                <div class="row ptb-60">
                                    <div class=col-sm-4>
                                        <div class="flex mb-30"> <img class=img-esthetique src="../theme/base-2016/images/cil-esthetique-980f8792.jpg" alt="Sourcils maquillage permanent" class=img-responsive> </div>
                                        <h6 class="text-center color">Les sourcils</h6>
                                        <p>Nos différentes techniques : poil à poil, ombrage, remplissage, bi-ton (apporte de la lumière). </p>
                                        <p>Offre la possibilité de réaliser le sourcil idéal pour vous, quelle que soit votre problématique (sourcil clairsemé, inesthétique, absent partiellement ou totalement)</p>
                                    </div>
                                    <div class=col-sm-4>
                                        <div class="flex mb-30"> <img class=img-esthetique src="../theme/base-2016/images/bouche-esthetique.JPG" alt="Bouche maquillage permanent" class=img-responsive> </div>
                                        <h6 class="text-center color">La bouche</h6>
                                        <p>Nos différentes techniques : contour de lèvres, contour des lèvres dégradés, remplissage, effet 3D, bulle de lumière et liseré blanc.</p>
                                        <p>La bouche mise en valeur de façon naturelle ou plus sophistiquée par nos différentes techniques permet de redessiner, recolorer, corriger une asymétrie ou encore pulper les lèvres et créer des effets de lumières. Offrir à votre bouche un rajeunissement, une coloration, une lumière.</p>
                                    </div>
                                    <div class=col-sm-4>
                                        <div class="flex mb-30"> <img class=img-esthetique src="../theme/base-2016/images/yeux-esthetique-9c3a194f.jpg" alt="Yeux maquillage permanent" class=img-responsive> </div>
                                        <h6 class="text-center color">Les yeux</h6>
                                        <p>Nos différentes techniques : densification des cils, eye-liner. Pour un effet naturel, la densification des cils et pour un effet maquillé, l'eye-liner. Pour celles qui ne savent pas se maquiller, pour les sportives féminines et les personnes qui ont la vue qui baisse.</p>
                                    </div>
                                </div>
                            </div>
                            <div id=dermographie>
                                <div class="row ptb-60">
                                    <div class="col-md-6 col-sm-6 col-sm-offset-1">
                                        <h3 class=color>Dermographie réparatrice</h3>
                                        <p>C'est une technique de pigmentation qui s'adresse aussi bien aux hommes qu'aux femmes permettant de recolorer une partie du corps suite à une maladie, un accident, un défaut de naissance, etc. Contrairement au maquillage permanent, la dermographie, c'est l'art de réparer ce que la vie a abimé afin de regagner confiance en soi. </p>
                                        <p>Les prestations proposées chez Sublima sont les suivantes :</p>
                                        <ul>
                                            <li>l'aréole mammaire: adapté selon votre besoin, nous recréons et corrigeons afin d'avoir d'obtenir le résultat le plus naturel et vivant possible. Nous étudierons ensemble la couleur, la forme pour un résultat esthétique.</li>
                                            <li> vitiligo stable: retrouver par différents pigments la couleur de votre peau initiale</li>
                                            <li>dermopigmentation du cuir chevelu: plaque de pelade, alopécie stable, clairière de cheveux</li>
                                            <li>cicatrices: recolorer une cicatrice qui vous complexe</li>
                                        </ul>
                                        <p>Un premier RDV est nécessaire avant la prestation afin de connaître votre besoin, voir ce qu'il est possible de faire et définir un devis.</p>
                                        <p>N.B: Toutes ces prestations nécessitent un certificat d'autorisation de votre médecin.</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4"> <img src="../theme/base-2016/images/dermo-esthetique-f918ad23.jpg" alt="dermographie esthetique lille sublima" class=img-responsive>
                                        <div class="spacer-15 visible-xs"></div>
                                    </div>
                                </div>
                            </div>
                            <div id=Tatouage>
                                <div class="row ptb-60">
                                    <div class="col-md-6 col-sm-6 col-sm-offset-1"> <img src="../theme/base-2016/images/tatouage-esthetique-0b4c1042.jpg" class=img-responsive alt="Tatouage artisitque à Lille , Sublima">
                                        <div class="spacer-15 visible-xs"></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <h3 class=color>Tatouage artistique</h3>
                                        <p>Présent mais discret, le Tatouage Bijou que Sublima vous propose est le reflet de votre identité. Parce que vous êtes unique, nous sommes à votre écoute pour choisir, définir voire dessiner ce tatouage parfait. Une fleur, un symbole, des lettres, un reflet...quelque chose qui ait une signification pour vous. </p>
                                        <p>En tant que professionnelle de l'esthétique, Odile est là pour vous conseiller sur la zone la mieux appropriée pour votre pigmentation artistique. Conditions d'hygiène irréprochables dans un cabinet professionnel. Prestation raffinée, dans le confort et la discrétion.</p>
                                        <p>RDV préalable obligatoire avec le modèle de votre choix si vous l'avez déjà défini.</p>
                                    </div>
                                </div>
                            </div>
                            <div id=Extension>
                                <div class="row ptb-60">
                                    <div class="col-md-4 col-sm-4 col-sm-offset-1">
                                        <h3 class=color>Extension de cils</h3>
                                        <p>Les extensions de cils sont des fibres en soie collées à 1 mm de la paupière, une à une sur chaque cil naturel. Le cil naturel a une durée de vie de 90 jours. Chaque jour des cils tombent et entraînent l’extension collée dessus : Des remplissages sont donc à prévoir toutes les 3 semaines. </p>
                                        <p>Sublima vous propose une technique cil à cil, personnalisée : c'est vous qui décidez de la longueur, de l'épaisseur et de la courbure des cils. Pour un résultat selon vos goûts. Naturel, sophistiqué ou bien glamour : c'est à vous de voir ce qui vous correspond le mieux.</p>
                                        <p>Odile sera toutefois présente pour vous conseiller et vous accompagner dans votre choix.</p>
                                    </div>
                                    <div class="col-md-6 col-sm-6"> <img src="../theme/base-2016/images/cils-esthetique-4895c0b9.jpg" class=img-responsive alt="extension de cils à Lille chez Sublima">
                                        <div class="spacer-15 visible-xs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id=Microblading>
                            <div class="row ptb-60">
                                <div class="col-md-6 col-sm-6 col-sm-offset-1"> <img src="../theme/base-2016/images/microblading-esthetique-2ab12725.jpg" class=img-responsive alt="Microblading à Lille, Sublima">
                                    <div class="spacer-15 visible-xs"></div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <h3 class=color>Microblading</h3>
                                    <p>Le microblading un résultat très tendance permet de restructurer les sourcils partiellement voir totalement et cela de façon hyper réaliste pour 6 à 9 mois. Un bon compromis, pour la personne qui ne souhaite pas faire un maquillage permanent pour l’instant. Cette technique consiste à déposer des pigments minéraux de façon épidermique avec un élément stérile et à usage unique. Odile est là pour vous conseiller sur la couleur et la forme des sourcils appropriées à votre visage, style, âge. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <section class=pb>
        <div class=container>
            <div class=col-xs-12>
                <h2>Tarif</h2>
                <div class=row>
                    <div class="col-xs-12 col-sm-6 ptb-60 line-right">
                        <h3 class=color>Maquillage Permanent</h3>
                        <p>Forfait sourcil</p>
                        <ul>
                            <li><small>Création: 400€</small></li>
                        </ul>
                        <p>Forfait eye liner</p>
                        <ul>
                            <li><small>Supérieur: 300€</small></li>
                            <li><small>Inférieur: 250€</small></li>
                            <li><small>Supérieur et inférieur: 430€</small></li>
                        </ul>
                        <p>Forfait densification des cils</p>
                        <ul>
                            <li><small>Supérieur: 250€</small></li>
                            <li><small>Inférrieur: 200€</small></li>
                            <li><small>Supérieur et inférieur: 380€</small></li>
                        </ul>
                        <p>Forfait bouche</p>
                        <ul>
                            <li><small>Contour des lèvres: 350€</small></li>
                            <li><small>Contour remplissage (dégradé, effet 3D, effet gloss): 450€</small></li>
                            <li><small>Supérieur et inférieur: 380€</small></li>
                        </ul>
                        <p>Grain de beauté: 80€</p>
                        <p>Correction d’ancienne pigmentation (couleur et forme): Sur devis</p>
                        <p>Entretien à partir de 150€</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 ptb-60">
                        <div class=row>
                            <div class=col-xs-12>
                                <h3 class=color>Maquillage semi-permanent microblading des sourcils</h3>
                                <p>Création: 190€</p>
                                <p>Restructuration partielle: 100€</p>
                                <p>Entretien: à partir de 60€</p>
                                </ul>
                            </div>
                            <div class=col-xs-12>
                                <h3 class=color>Extension de cils</h3> <small>(Naturel, sophistiqué, glamour)</small>
                                <p>Pose découverte: 80€</p>
                                <p>Pose complète: 140€</p>
                                </ul>
                            </div>
                            <div class=col-xs-12>
                                <h3 class=color>Dermographie réparatrice</h3>
                                <p>Aréoles Mammaires création: 150€ la sénace</p>
                                <p>Aréoles Mammaires reprise: 100€ la sénace</p>
                                <p>Clairière de cheveux, cicatrice, vitiligo: 100€ la séance</p>
                                </ul>
                            </div>
                            <div class=col-xs-12>
                                <h3 class=color>Tatouage artistique</h3>
                                <p>Création: à partir de 80€</p>
                                <p>Reprise: à partir de 40€</p> <small>Voir devis avec dessin</small> </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=pb>
        <div class=container>
            <div class="col-xs-12 text-center">
                <p class="lead">Pour prendre rendez-vous ou pour de plus amples informations</p> <a href="/contact.html" class="btn btn-color-line">Contactez nous</a> </div>
        </div>
    </section>
    <section class="bg-img9 overlay-light ptb-60" id=statement>
        <div class="container text-center">
            <div class=row>
                <div class="col-md-8 col-md-offset-2">
                    <h2>Sublima, c'est également des formations certifiantes.</h2> <a href="/formations" class="btn btn-link color">Découvrez nos formations</a> </div>
            </div>
        </div>
    </section>
    <section id=service class=" pt pb-80">
        <div class="container text-center">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class=color>Soins Anti-Age</h3>
                    <div class=spacer-15></div>
                    <p class="lead">Laboratoire américain qui oeuvre depuis 30 ans dans la composition génétique. Créateur de la science AgeLoc, véritable découverte scientifique qui ne se contente pas d'atténuer les marques de vieillesses mais qui s'attaque aux premières sources de vieillissement en réinitialisant les gênes de la jeunesse.</p>
                </div>
            </div>
            <div class="row mt-60">
                <div class="Left col-md-4 pt-80 pt-sm-0">
                    <div class=features-box-right>
                        <h6>Préserve la structure de la peau</h6> </div>
                    <div class=features-box-right>
                        <h6>Lisse le grain de peau</h6> </div>
                    <div class=features-box-right>
                        <h6>Egalise le teint</h6> </div>
                    <div class=features-box-right>
                        <h6>Atténue l’apparence des rides</h6> </div>
                </div>
                <div class=" col-md-4 text-center hidden-sm"> <img src="https://www.nuskin.com/products/97/10/37/97103774/_jcr_content/fullImage.img.jpg/138ed429d7b-cache.jpg" class=img-responsive alt="Produit Nuskin, nouveau" /> </div>
                <div class="Right col-md-4 pt-80 pt-sm-0">
                    <div class=features-box-left>
                        <h6>Eclaircit le teint</h6> </div>
                    <div class=features-box-left>
                        <h6>Réduit la taille des pores</h6> </div>
                    <div class=features-box-left>
                        <h6>Atténue les décolorations</h6> </div>
                    <div class=features-box-left>
                        <h6>Favorise l’hydratation</h6> </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class=color>Odile Cazier vous propose de démontrer en 10 minutes par un soin demi visage, les résultats bénéfiques de ces produits innovants procurant une éternelle jeunesse.</h3> </div>
            </div>
        </div>
    </section>
    <section id=about class=hidden-xs>
        <div class=container>
            <div class=row>
                <div class="col-md-6 col-sm-6 photo"> <img src="../theme/base-2016/images/odile-cazier.jpg" alt="Odile Cazier, gérante de sublima, formatrice et esthéticienne" class="img-responsive img-about " data-wow-duration=1s data-wow-delay="0.2s"> </div>
                <div class="col-xs-12 col-md-6 col-sm-6 bio">
                    <div class=about-text>
                        <div class=section-title>
                            <h3 class=white>Odile Cazier</h3>
                            <hr>
                            <div class=clearfix></div>
                        </div>
                        <p class="white intro">Esthéticienne dans l’âme depuis sa tendre enfance Odile a choisi ce métier passion, par amour de la beauté. Afin d’embellir, réconforter, et rassurer, elle a consacré 30 ans d’un parcours généraliste dans l’esthétique : mains, pieds, visage et corps. <b>Le maquillage permanent</b> l’a attiré de par son originalité, sa spécificité et l’exigence que cela demande. Forte de son expérience dans l’esthétique elle a utilisé son savoir-faire afin d’apporter de la beauté permanente et est devenue experte dans ce domaine.</p>
                        <p class="white intro">Odile s’est aperçue que l’activité du maquillage permanent n’était pas répandue dans la région Nord pas de Calais. Elle y a vu une opportunité de former des professionnels et de proposer ses services à la clientèle. Elle décide alors de s’installer dans le centre de Lille afin d’exercer son métier passion.</p>
                        <p class="white intro">En parallèle de la gestion de Sublima, Odile est bénévole pour Belle & Bien, une association qui soutient les femmes atteintes du cancer en organisant des ateliers de maquillage pour prendre soins d'elles et leur faire retrouver confiance en elle pendant cette période difficile.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 photo"> <img src="../theme/base-2016/images/odile-cazier.jpg" alt="" class="img-responsive " alt="Odile Cazier, gérante de sublima, formatrice et esthéticienne"> </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                    <h3>Odile Cazier</h3>
                    <p>Esthéticienne dans l’âme depuis sa tendre enfance Odile a choisi ce métier passion, par amour de la beauté. Afin d’embellir, réconforter, et rassurer, elle a consacré 30 ans d’un parcours généraliste dans l’esthétique : mains, pieds, visage et corps. <b>Le maquillage permanent</b> l’a attiré de par son originalité, sa spécificité et l’exigence que cela demande. Forte de son expérience dans l’esthétique elle a utilisé son savoir-faire afin d’apporter de la beauté permanente et est devenue experte dans ce domaine.</p>
                    <p>Odile s’est aperçue que l’activité du maquillage permanent n’était pas répandue dans la région Nord pas de Calais. Elle y a vu une opportunité de former des professionnels et de proposer ses services à la clientèle. Elle décide alors de s’installer dans le centre de Lille afin d’exercer son métier passion.</p>
                    <p>En parallèle de la gestion de Sublima, Odile est bénévole pour Belle & Bien, une association qui soutient les femmes atteintes du cancer en organisant des ateliers de maquillage pour prendre soins d'elles et leur faire retrouver confiance en elle pendant cette période difficile.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="spacer-30 hidden-xs"></div>
    <section id="testimonial" class="overlay-dark dark-bg ptb ptb-sm-80 bg-testimonials">
        <div class="container">
            <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                <div class="item">
                    <div class="testimonial text-center dark-color">
                        <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                        <p class="lead">" Odile, je suis toujours ravie des résultats, je vous remercie de votre gentillesse. Que dire de plus, vous êtes très très très professionnaliste."</p>
                        <h6 class="quote-author">Claudine</h6> </div>
                </div>
                <div class="item">
                    <div class="testimonial text-center dark-color">
                        <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                        <p class="lead">" Odile, cela fait maintenant 3 ans que je viens pour mon maquillage permanent et je suis toujours enchantée. Je vous remercie de votre gentillesse, de votre écoute, de votre professionnalisme. Vous êtes une belle personne, une belle rencontre. "</p>
                        <h6 class="quote-author">Julie</h6> </div>
                </div>
                <div class="item">
                    <div class="testimonial text-center dark-color">
                        <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                        <p class="lead">" Je suis très satisfaite de votre travail et du résultats que j'obtiens. J'avoue que maintenant j'aurais beaucoup de mal à m'en passer. J'apprécie votre gentillesse. "</p>
                        <h6 class="quote-author">Mme Bougaran</h6> </div>
                </div>
                <div class="item">
                    <div class="testimonial text-center dark-color">
                        <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                        <p class="lead">" Merci Odile pour votre professionnalisme, vos conseils, votre sourire et bonne humeur permanente. Après avoir fait les sourcils, l'intensification des cils aujourd'hui est une seconde réussite. Merci pour cette mise en beauté permanente. Prochaine étape qui me tente quand je vois les résultats des autres personnes : la bouche! Du fond du coeur : MERCI "</p>
                        <h6 class="quote-author">Mme Marescane</h6> </div>
                </div>
                <div class="item">
                    <div class="testimonial text-center dark-color">
                        <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                        <p class="lead">" Merci, je me sens revivre après toutes ces années sans poils ! Lol. Je vous invite à en parler autour de vous, vous êtes des artistes ! "</p>
                        <h6 class="quote-author">Fabienne</h6> </div>
                </div>
            </div>
        </div>
    </section>
    <section class=ptb>
        <div class=container>
            <div class="col-xs-12 text-center">
                <p class="lead">Pour prendre rendez-vous ou pour de plus amples informations</p> <a href="/contact.html" class="btn btn-color-line">Contactez nous</a> </div>
        </div>
    </section>

{% endblock %}    