{% extends 'partials/_master.twig' %}

{% block main %}
<section class="inner-intro bg-img8 light-color overlay-dark parallax parallax-background2">
    <div class="container">
        <div class="row title">
            <h1 class="h2">Nos formations</h1> 
        </div>
    </div>
</section>
<div class="clearfix"></div>
<section id="service" class="pt pt-sm-80">
    <div class="container text-center">
        <h3 class="color">Nos formations</h3>
        <div class="spacer-30"></div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <p class="lead">Nous choisir c'est: La garantie d'une formation de qualité théorique et pratique enseignée par des expertes dans leur domaine, du matériel aux normes françaises et une hygiène irréprochable.</p>
        </div>
        <div class="spacer-110"></div>

		<div class="row">
			{% setcontent formations = 'formations' %}
	    	{% for formation in formations %}
	        <div class="col-md-4 col-sm-6 mb-45 formation-index">
	            <a href="{{ formation.link }}">
	                <div class="page-icon-top image-formation">                            	
	                    <img src="{{ thumbnail(formation.image, 400, 250)}}">
	                </div>
	                <h5>{{ formation.titre }}</h5>
	                <p>{{ formation.intro }}</p>
	                <div class="text-left"> <small>lire la suite</small> </div>
	            </a>
	        </div>  
	        {% endfor %}     
		</div>
	</div>
</section>
{% endblock %}