{% extends 'partials/_master.twig' %}

{% block main %}
        <section class="inner-intro bg-img8 light-color overlay-dark parallax parallax-background2">
            <div class=container>
                <div class="row title">
                    <h1 class=h2>Contact</h1> </div>
            </div>
        </section>
        <div class=clearfix></div>
        <section class="ptb ptb-sm-80">
            <div class=container>
                <div class=row>
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h3>Nous contacter</h3>
                        <p class=lead>Le formulaire n'est à utiliser que pour des questions ou remarques non urgentes. En cas d'urgence (décommander un rendez-vous, ...) merci de nous contacter par téléphone au
                            <br/> 06 74 23 48 72</p>
                    </div>
                </div>
                <div class=spacer-75></div>
                <div class=row>
                    <div class="col-md-4 contact">
                        <div class="contact-box-left mb-45">
                            <div class=contact-icon-left><i class="fa fa-map-marker" aria-hidden=true></i></div>
                            <h6>Adresse</h6>
                            <p> 3 rue du Plat,
                                <br/> 59000 LILLE. </p> <a href="mailto:info@sublima-lille.fr"><i class="fa fa-envelope-o left"></i>info@sublima-lille.fr</a>
                            <br/> <a><i class="fa fa-phone left"></i>03 20 13 04 91</a> </div>
                    </div>
                    <div class=col-md-4>
                        <div class="contact-box-left mb-45">
                            <div class=contact-icon-left><i class="fa fa-clock-o" aria-hidden=true></i></div>
                            <h6>Horaires</h6>
                            <p> <span>Lundi - Vendredi: 9h à 18h</span> </p>
                        </div>
                        <div class="contact-box-left mb-45"> <a href="https://www.facebook.com/Centre-de-Formation-Sublima-1459748987589716/" target=_blank><h6>Suivez nous sur</h6><i class="fa fa-facebook"></i>acebook</a> </div>
                    </div>
                    <div class=col-md-4> <a href="mailto:info@sublima-lille.fr" class="btn btn-lg btn-color-line">Envoyer un message</a> </div>
                </div>
            </div>
    </div>
    </section>
{% endblock %}