{% extends 'partials/_master.twig' %}

{% block main %}
        <section class="inner-intro bg-img10 light-color overlay-dark parallax parallax-background2">
            <div class="container">
                <div class="row title">
                    <h1 class="h2">Devenez modèle</h1> </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <div class="container ptb-80">
            <div class="row text-center">
                <div class="col-md-10 col-md-offset-1">
                    <p class=lead>En tant que modèle, vous n'êtes pas dans le même cadre que lorsque vous êtes cliente. Votre prestation est réalisée partiellement ou complètement par un(e) des stagiaires en formation. N'oubliez pas que vous êtes dans un contexte pédagogique, c'est pourquoi, tout au long de votre prestation, la responsable des formations Odile Cazier sera présente pour guider et donner des conseils aux stagiaires. Vous n'êtes également pas seule durant votre prestation : il y a généralement trois stagiaires et trois modèles. bien évidemment, les prestations réalisées sont de qualité, et respectent les normes d'hygiène. Dernier avantage en tant que modèle : le tarif est beacoup plus avantageux que lorsque vous êtes cliente.</p>
                </div>
            </div>
        </div>
        <div class="spacer-60"></div>
        <div class="container">
            <div class="row ptb-60">
                <div class="col-md-5 col-md-offset-1">
                    <h4 class=color>Conditions</h4>
                    <ul>
                        <li>Etre en bonne santé sinon il faut un certificat médical d'autorisation du médecin</li>
                        <li>Etre disponible soit une matinée de 9h30 à 13h soit une après-midi de 14h à 17h30 en semaine (peu de samedi concernés par les formations)</li>
                        <li>Etre à l'heure pour ne pas pénaliser les stagiaires.</li>
                        <li>D'enlever ses lentilles de correction (pour les yeux).</li>
                    </ul>
                </div>
                <div class=col-md-5> <img src="../theme/base-2016/images/qote-adabe430.jpg" alt="devenez modèle"> </div>
            </div>
        </div>
        <div class="container ptb-60">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <h4 class="color">Si vous avez un RDV</h4>
                    <p>il est recommandé:</p>
                    <ul>
                        <li>De ne pas être à jeun</li>
                        <li>De venir démaquillée (surtout pour les yeux)</li>
                        <li>De vous faire prescrire un anti viral en cas d'herpes labial (pour la bouche)</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h4 class="color">A éviter</h4>
                    <p>une semaine avant le maquillage permanent/ la dermographie réparatrice:</p>
                    <ul>
                        <li>Tout ce qui est susceptible d'irriter la zone concernée (teinture, décoloration, exposition aux U.V ou exposition au soleil, gommage)</li>
                        <li>La prise d'aspirine ou anticoagulants</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container ptb-60">
        <div class="col-md-12 text-center">
            <div class="mt-80">
                <p class="lead">Devenir modèle vous interesse ?</p> <a href="/contact" class="btn btn-color-line">Nous contacter</a> </div>
        </div>
    </div>
{% endblock %}