<!-- Footer -->
<footer class="footer pt-80">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center ">
            <ul class="list-inline">
                <li><a href="/microblading.html">Formation Microblading</a></li>
                <li><a href="/permanent.html">Formation Maquillage permanent</a></li>
                <li><a href="/dermographie.html">Formation Dermographie</a></li>
                <li><a href="/tatouage.html">Formation Tatouage artistique</a></li>
                <li><a href="/extension.html">Formation Extension de cils</a></li>
                <li><a href="/restructuration.html">Formation Restructuration</a></li>
                <li><a href="/epilation.html">Formation Épilation au fil</a></li>
            </ul>
            <div class="spacer-30"></div>
        </div>
        <div class="row footer-info mb-60">
            <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30 text-center">
                <a class="footer-logo" href="home.html"> <img src="../theme/base-2016/images/logo_sublima-2ff19fc2.png" alt="logo sublima"> </a>
                <div class="spacer-30"></div>
                <ul class="social">                    
                    <li><a rel="noopener" target=_blank href="https://www.facebook.com/Centre-de-Formation-Sublima-1459748987589716"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 mb-sm-30 mb-xs-0 text-center">
                <p>Centre déclaré auprès de la prefecture du NORD​</p>
                <p>Numéro de déclaration d'activité : 31 59 079 7059</p> © {{ "now"|date("Y") }} <a><b>Sublima</b></a>. All Rights Reserved.
                </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <p>Sublima - Centre de Formation,
                    <br>3 rue du Plat, 59000 LILLE</p>
                <ul class="link-small">
                    <li><a href="mailto:info@sublima-lille.fr"></i>info@sublima-lille.fr</a></li>
                    <li class="spacer-30 visible-xs"></li>
                    <li><a href="tel:+33320130491"></i>03 20 13 04 91</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="{{ asset('js/foundation.js', 'theme') }}"></script>
<script src="{{ asset('js/app.js', 'theme') }}"></script>
